* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  height: auto;
  font-family: Helvetica, Arial;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  header {
    height: 50px;
    border-bottom: 1px solid #cecece;
    text-align: center;
    background: #000;

    h1 {
      margin: 0;
      line-height: 50px;
      font-size: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      color: #fff;

      img {
        height: 50%;
        width: auto;
        margin-right: 20px;
      }
    }
  }

  .content {
    display: flex;

    @media screen and (min-width: $breakpoint) {
      flex: 1;
    }
  }

  footer {
    height: 30px;
    border-top: 1px solid #cecece;
    text-align: center;

    p {
      margin: 0;
      line-height: 30px;
    }
  }
}
