$btn-width: 60px;

app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.time {
  text-align: center;

  p {
    font-size: 1.4rem;
    line-height: 2.0rem;
  }
}

.weather {
  width: 100%;
  min-height: 80px;
  border-top: 1px solid #cecece;
  flex: 1;
  display: flex;

  &:first-child {
    border-top: none;
  }

  &:nth-child(2n) {
    background-color: #f3f3f3;

    .data .forecast {
      background-color: #f3f3f3;
    }
  }

  .data {
    flex: 10;
    display: flex;
    position: relative;
    overflow: hidden;

    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      p {
        margin: 0;
      }

      .temp {
        flex: 2;
        text-align: center;
        font-size: 2rem;

        @media screen and (min-width: $breakpoint) {
          font-size: 4rem;
        }
      }

      .city {
        flex: 4;
        font-size: 1.5rem;

        @media screen and (min-width: $breakpoint) {
          font-size: 3rem;
        }
      }

      .wind {
        flex: 3;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $breakpoint) {
          font-size: 2rem;
          flex: 2;
        }

        i {
          font-size: 1.5rem;
          margin-right: 10px;

          @media screen and (min-width: $breakpoint) {
            font-size: 3rem;
            margin-right: 20px;
          }
        }
      }
    }

    .forecast {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      @include transform(translateX(100%));
      transition: transform 0.5s linear;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.show {
        @include transform(translateX(0));
      }

      .outlooks {
        flex: 10;
        display: flex;
        overflow: scroll;

        .outlook {
          flex: 1;
          border-right: 1px solid #cecece;
          text-align: center;
          min-width: 100px;
        }
      }
    }
  }

  .cta {
    flex: 2;
    display: flex;
    justify-content: stretch;
    align-self: stretch;
    min-width: $btn-width;

    button {
      flex: 1;
      background: $action;
      color: #fff;
      cursor: pointer;
      outline: none;
      border: none;

      &.close {
        background: $negative;
      }
    }
  }
}
