<div class='time'>
  <p>{{vm.date}}</p>
</div>
<div ng-show="vm.loaded" ng-repeat="city in vm.list"  ng-init="cityIndex = $index" class='weather'>
  <div class='data'>
    <div class='main'>
      <div class='temp'>
        <p>{{vm.tempToCelsius(city.main.temp)}}&deg;</p>
      </div>
      <div class='city'>
        <p>{{city.city}}</p>
      </div>
      <div class='wind'>
        <i class='fa fa-arrow-up' style="transform: rotate({{city.wind.deg}}deg);"></i> {{city.wind.speed}}mph
      </div>
    </div>
    <div class='forecast' ng-class='{show: city.showforecast}'>
      <div class='outlooks'>
        <div class='outlook' ng-repeat='outlook in city.forecast'>
          <h3>{{outlook.dt_txt}}</h3>
          <p>{{vm.tempToCelsius(outlook.main.temp)}}&deg;</p>
          <p><i class='fa fa-arrow-up' style="transform: rotate({{outlook.wind.deg}}deg);"></i> {{city.wind.speed}}mph</p>
        </div>
      </div>
    </div>
  </div>
  <div class='cta'>
    <button ng-class='{close: city.showforecast}' ng-click="vm.toggleForecast(cityIndex)">{{city.showforecast ? 'Close' : '24hr Forecast'}}</button>
  </div>
</div>
